[data-md-color-scheme="default"] {
    --md-primary-fg-color: #fff;
    --md-primary-fg-color--light: #ffffffb3;
    --md-primary-fg-color--dark: #00000012;
    --md-primary-bg-color: #000000de;
    --md-primary-bg-color--light: #0000008a;
    --md-typeset-a-color: #aa2737;
    --md-accent-fg-color: #bb2b3c;
    --md-accent-fg-color--transparent: #526cfe1a;
    --md-accent-bg-color: #fff;
    --md-accent-bg-color--light: #ffffffb3;
  } 
  [data-md-color-scheme="slate"] {
    --md-primary-fg-color: #2c2c2c;
    --md-primary-fg-color--light: #474747;
    --md-primary-fg-color--dark: #181818;
    --md-primary-bg-color: #f3f3f3;
    --md-primary-bg-color--light: #fafafa;
    --md-hue: 0;
    --md-default-fg-color: hsla(var(--md-hue),0%,95%,1);
    --md-default-fg-color--light: hsla(var(--md-hue),0%,90%,0.62);
    --md-default-fg-color--lighter: hsla(var(--md-hue),0%,90%,0.32);
    --md-default-fg-color--lightest: hsla(var(--md-hue),0%,90%,0.12);
    --md-default-bg-color: hsla(var(--md-hue),0%,21%,1);
    --md-default-bg-color--light: hsla(var(--md-hue),0%,21%,0.54);
    --md-default-bg-color--lighter: hsla(var(--md-hue),0%,21%,0.26);
    --md-default-bg-color--lightest: hsla(var(--md-hue),0%,21%,0.07);
    --md-code-fg-color: hsla(var(--md-hue),0%,86%,1);
    --md-code-bg-color: hsla(var(--md-hue),0%,15%,1);
    --md-code-hl-color: #ff424226;
    --md-code-hl-number-color: #e6695b;
    --md-code-hl-special-color: #f06090;
    --md-code-hl-function-color: #c973d9;
    --md-code-hl-constant-color: #9383e2;
    --md-code-hl-keyword-color: #6791e0;
    --md-code-hl-string-color: #2fb170;
    --md-code-hl-name-color: var(--md-code-fg-color);
    --md-code-hl-operator-color: var(--md-default-fg-color--light);
    --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
    --md-code-hl-comment-color: var(--md-default-fg-color--light);
    --md-code-hl-generic-color: var(--md-default-fg-color--light);
    --md-code-hl-variable-color: var(--md-default-fg-color--light);
    --md-typeset-color: var(--md-default-fg-color);
    --md-typeset-a-color: var(--md-primary-fg-color);
    --md-typeset-mark-color: #ff42424d;
    --md-typeset-kbd-color: hsla(var(--md-hue),0%,94%,0.12);
    --md-typeset-kbd-accent-color: hsla(var(--md-hue),0%,94%,0.2);
    --md-typeset-kbd-border-color: hsla(var(--md-hue),0%,14%,1);
    --md-typeset-table-color: hsla(var(--md-hue),0%,95%,0.12);
    --md-typeset-table-color--light: hsla(var(--md-hue),0%,95%,0.035);
    --md-admonition-fg-color: var(--md-default-fg-color);
    --md-admonition-bg-color: var(--md-default-bg-color);
    --md-footer-bg-color: hsla(var(--md-hue),0%,12%,0.87);
    --md-footer-bg-color--dark: hsla(var(--md-hue),0%,10%,1);
    --md-shadow-z1: 0 0.2rem 0.5rem #0003,0 0 0.05rem #0000001a;
    --md-shadow-z2: 0 0.2rem 0.5rem #0000004d,0 0 0.05rem #00000040;
    --md-shadow-z3: 0 0.2rem 0.5rem #0006,0 0 0.05rem #00000059;
    --md-typeset-a-color: #e23348 !important;
    color-scheme: dark;
  } 
  /* Add border-bottom to md-tabs class */
:root .md-tabs {
    border-bottom: .05rem solid #00000012;
  }
:root .md-search__form {
    background-color: var(--md-primary-fg-color--dark);
}
:root code {
    border-radius: 5px;
    box-shadow: rgba(0,0,0,0.1) 0 1px 2px 0 !important;
}
img[alt="A simplified overview of the syclops workflow."] {
  background-color: white;
  display: inline-block;
  padding: 4px;
  border-radius: 10px;
}